.banner {
    width: 100%;
    display: block;
    background-color: #000;
    height: 200px;
}

h2	{
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 1px;
    }